/*Desktop View Start*/

@media screen and (min-width:1800px){
    .hero-section{
        padding:20px 150px;
    }

    .about-section{
        padding:20px 150px;
    }

    .service-section{
        padding:20px 150px;
    }

    .skill-section{
        padding:20px 150px;
    }

    .project-section{
        padding:20px 150px;
    }

    .contact-section{
        padding:20px 150px;
    }

    .footer-section{
        padding:20px 150px;
    }
}

/*Desktop View End*/

/*Laptop View Start*/

@media screen and (max-width:1100px){
    .about-content p{
        font-size:14px;
    }
    
    .about-content button{
        margin-right:6px;
    }
}

/*Laptop View End*/

/*Tablet View Start*/

@media screen and (max-width:1030px){
    h1{
        font-size:40px;
    }

    .hero-section{
        padding:20px 40px;
        margin-bottom:100px;
    }

    header nav{
        display:none;
    }

    .menu-div{
        display:flex;
        justify-content:center;
        align-items:center;
    }

    .menu-bar{
        display:block;
    }

    .hero-content{
        margin:150px 0px 100px;
    }

    .writter{
        margin-bottom:10px;
    }

    .hero-content h3,.text{
        font-size:22px;
    }

    .hero-content p{
        font-size:16px;
        margin-bottom:25px;
    }

    .about-section{
        padding:20px 40px;
        flex-direction:column;
        justify-content:flex-start;
        margin-bottom:100px;
    }

    .about-img img{
        width:350px;
        height:350px;
    }

    .about-content p{
        line-height:20px;
    }

    .service-section{
        padding:20px 40px;
        margin-bottom:100px;
    }

    .service-cards{
        grid-template-columns:auto auto;
        gap:50px;
    }

    .card h2{
        font-size:20px;
        margin-bottom:10px;
    }

    .skill-section{
        padding:20px 40px;
        margin-bottom:100px;
    }

    .skill-div{
        flex-direction:column;
        row-gap:50px;
        margin-top:40px;
    }

    .skill-div h2{
        font-size:25px;
        text-align:center;
    }

    .technical-bar .info span{
        font-size:20px;
    }

    .technical-bar .bar .progress-line{
        width:100%;
    }

    .soft-bar{
        justify-content:center;
    }

    .project-section{
        padding:20px 40px;
        margin-bottom:200px;
    }

    .project-div{
        grid-template-columns:1fr 1fr;
        gap:50px;
    }

    .contact-section{
        padding:20px 40px;
    }

    .contact-divs{
        display:grid;
        grid-template-columns:1fr 1fr;
        gap:50px;
    }

    .contact-div{
        padding:20px 10px;
    }

    .footer-section{
        padding:20px 40px;
    }
}

/*Tablet View End*/

/*Mobile View Start*/

@media screen and (max-width:768px){
    .menu-bar{
        left:20px;
    }
    
    .menu-div{
        width:30px;
        height:30px;
        right:20px;
    }

    .menu-div i{
        font-size:20px;
    }

    .hero-section{
        padding:20px;
    }

    .hero-content{
        flex-direction:column-reverse;
        justify-content:flex-start;
        row-gap:50px;
    }

    .btn{
        font-size:16px;
        padding:8px 32px;
    }

    .hero-social{
        gap:20px;
    }

    .hero-icons i{
        font-size:18px;
    }

    .home-img .img-box{
        width:70vw;
        height:70vw;
    }

    .about-section{
        padding:20px;
    }

    .about-img img{
        width:100%;
        height:100%;
    }

    .service-section{
        padding:20px;
    }

    .service-cards{
        grid-template-columns:1fr;
    }

    .skill-section{
        padding:20px;
    }

    .project-section{
        padding:20px;
    }

    .project-div{
        grid-template-columns:1fr;
    }

    .contact-section{
        padding:20px;
    }

    .contact-divs{
        grid-template-columns:1fr;
    }

    .footer-section{
        padding:20px;
    }

    .footer-section marquee{
        font-size:18px;
    }
}

@media screen and (max-width:410px){
    h1{
        font-size:30px;
    }

    .hero-content p{
        font-size:14px;
    }

    .hero-content .btn{
        font-size:14px;
    }

    .hero-social{
        gap:14px;
    }

    .hero-icons{
        gap:8px;
    }

    .hero-icons i{
        font-size:12px;
        padding:8px;
    }

    .about-content a{
        border:2px solid var(--commonColor);
        margin-right:5px;
        padding:6px 24px;
        font-size:14px;
    }

    .about-content h3{
        font-size:20px;
    }
}

/*Mobile View End*/