.portfolio-section{
    width:100%;
    min-height:100vh;
    padding:20px 80px;
}

.portfolio-content h1{
    font-size:50px;
    text-align:center;
}

.portfolio-content h1 span{
    color:var(--commonColor);
}

.portfolio-content p{
    text-align:center;
    font-size:18px;
    font-weight:200;
    color:#ddd;
    margin:10px 50px;
}

.portfolio-container{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:2rem;
    margin-top:50px;
}

.portfolio-detail{
    display:none;
}

.portfolio-detail.active{
    display:block;
}

.portfolio-box .numb{
    font-size:6rem;
    -webkit-text-stroke:0.07rem var(--commonColor);
    color:transparent;
    line-height:1;
}

.portfolio-box h3{
    font-size:1.7rem;
    margin:0.6rem 0 1.5rem;
}

.portfolio-box p{
    font-size:1rem;
}

.portfolio-box .tech{
    margin:2rem 0;
    color:var(--commonColor);
    border-bottom:0.1rem solid var(--whiteColor);
    padding-bottom:1rem;
}

.portfolio-box .github a{
    position:relative;
    display:inline-flex;
    padding:0.7rem;
    font-size:1.5rem;
    color:var(--whiteColor);
    border-radius:50%;
    background:transparent;
    border:2px solid var(--commonColor);
    text-decoration:none;
    transition:all linear 500ms;
}

.portfolio-box .github a:first-child{
    margin-right:1.2rem;
}

.portfolio-box .github a:first-child i{
    transform:rotate(-135deg);
}

.portfolio-box .github a span{
    position:absolute;
    top:-60%;
    left:50%;
    transform:translateX(-50%);
    font-size:1rem;
    white-space:nowrap;
    padding:0.5rem 1rem;
    background:var(--whiteColor);
    border-radius:5px;
    color:var(--bgColor);
    opacity:0;
    scale:0.9;
    transition:all linear 500ms;
}

.portfolio-box .github a:hover{
    background:var(--commonColor);
    color:var(--bgColor);
    transition:all linear 500ms;
}

.portfolio-box .github a:hover span{
    top:-80%;
    opacity:1;
    scale:1;
    transition:all linear 500ms;
}