.portfolio-section{
    width:100%;
    min-height:100vh;
    padding:20px 80px;
}

.portfolio-content h1{
    font-size:50px;
    text-align:center;
}

.portfolio-content h1 span{
    color:var(--commonColor);
}

.portfolio-content p{
    text-align:center;
    font-size:18px;
    font-weight:200;
    color:#ddd;
    margin:10px 0px;
}

.portfolio-container{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:2rem;
    margin-top:50px;
}

.portfolio-detail{
    display:none;
}

.portfolio-detail.active{
    display:block;
}

.portfolio-box .numb{
    font-size:6rem;
    -webkit-text-stroke:0.07rem var(--commonColor);
    color:transparent;
    line-height:1;
}

.portfolio-box h3{
    font-size:1.7rem;
    margin:0.6rem 0 1.5rem;
}

.portfolio-box p{
    font-size:1rem;
}

.portfolio-box .tech{
    margin:2rem 0;
    color:var(--commonColor);
    border-bottom:0.1rem solid var(--whiteColor);
    padding-bottom:1rem;
}

.portfolio-box .github a{
    position:relative;
    display:inline-flex;
    padding:0.7rem;
    font-size:1.5rem;
    color:var(--whiteColor);
    border-radius:50%;
    background:transparent;
    border:2px solid var(--commonColor);
    text-decoration:none;
    transition:all linear 500ms;
}

.portfolio-box .github a:first-child{
    margin-right:1.2rem;
}

.portfolio-box .github a:first-child i{
    transform:rotate(-135deg);
}

.portfolio-box .github a span{
    position:absolute;
    top:-60%;
    left:50%;
    transform:translateX(-50%) scale(0.9);
    font-size:1rem;
    white-space:nowrap;
    padding:0.5rem 1rem;
    background:var(--whiteColor);
    border-radius:5px;
    color:var(--bgColor);
    opacity:0;
    transition:all linear 500ms;
}

.portfolio-box .github a:hover{
    background:var(--commonColor);
    color:var(--bgColor);
    transition:all linear 500ms;
}

.portfolio-box .github a:hover span{
    top:-80%;
    opacity:1;
    transform:translateX(-50%) scale(0.9);
    transition:all linear 500ms;
}

.portfolio-box .portfolio-carousel{
    width:100%;
    height:45rem;
    border-radius:1rem;
    overflow:hidden;
}

.portfolio-box .portfolio-carousel .image-slide{
    display:grid;
    grid-auto-flow:column;
    grid-auto-columns:100%;
    gap:2rem;
    height:inherit;
    transition:all linear 500ms;
}

.image-slide .image-items{
    height:inherit;
}

.image-slide .image-items img{
    display:block;
    width:100%;
    height:60%;
    object-fit:cover;
    border-radius:1rem;
}

.navigation-button{
    position:absolute;
    text-align:right;
    right:80px;
    bottom:-70px;
}

.navigation-button button{
    display:inline-flex;
    padding:0.4rem;
    background:var(--bgColor);
    border:0.2rem solid var(--commonColor);
    border-radius:0.6rem;
    font-size:2rem;
    color:var(--commonColor);
    cursor:pointer;
}

.navigation-button button.disabled{
    border-color:#555;
    color:#555;
}

.navigation-button .arrow-right{
    margin-left:1rem;
}